* {
    outline: 1px solid rgb(184, 222, 240);
    outline-offset: -1px;
  }
.header-class
{
    background-color: aquamarine;
}
.textcolor
{
    color: brown;
}
.backgroundColor
{
    background-color: beige;
}